.page {
    display: flex;
    width: 96vw;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
}

.testHeader {
    font-size: 14px;
    width: 100%;
    color: #757575;
    margin-top: 7.7vh;
    margin-bottom: 1.5vh;
    display: flex;
    width: 100%;
}
.goBack {
    text-decoration: underline !important;
    position: absolute;
}
.pageNumber {
    flex: 1;
    text-align: center;
    text-decoration: none !important;
}

.question {
    margin-top: 9.5vh;
    font-family: 'Pretendard-Bold';
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    text-align: center;  
}

.buttonSet {
    position: fixed;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.button {
    width: 96vw;
    max-width: 800px;
    height: 7vh;
    margin-bottom: 12px;
    border-radius: 12px;
    background-color: #1E1E1E;
    color: #F5F5F5;
    font-size: 16px;
    font-family: "Pretendard-Bold";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}